Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
src/hildon-desktop
*.o
*.a
*.lo
*.la
.libs
*.swp
tidy-enum-types.[ch]
tidy-marshal.[ch]
stamp-tidy-enum-types.h
stamp-tidy-marshal.h
stamp-h1
tests/test-applet
tests/test-hung-process
tests/test-launcher
tests/test-portrait
tests/test-signals
