Source: hildon-desktop
Section: x11
Priority: optional
Maintainer: Kimmo Hämäläinen <kimmo.hamalainen@nokia.com>
Build-Depends: cdbs (>= 0.4.21), debhelper (>= 4.1.0), pkg-config (>= 0.18), libmatchbox2-dev, libclutter-0.8-dev, libxdamage-dev, libxcomposite-dev, libxfixes-dev, libx11-dev, libdbus-1-dev, libxft-dev, libglib2.0-dev, libgtk2.0-dev, libgconf2-dev
Standards-Version: 3.8.0

Package: hildon-desktop
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hildon-theme | hildon-theme-devel, hildon-icons | sdk-default-icons, gconf2, osso-af-startup, maemo-af-desktop-l10n-mr0 | maemo-af-desktop-l10n-mr
#Conflicts: matchbox-window-manager
Description: Hildon desktop for Fremantle
 Hildon desktop for Fremantle.

Package: hildon-desktop-dbg
Section: devel
Architecture: any
Depends: hildon-desktop (= ${Source-Version})
Description: Debug symbols for Hildon desktop
 Debug symbols for Hildon desktop.
