#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DH_STRIP_ARGS := --dbg-package=hildon-desktop
DEB_DH_INSTALLINIT_ARGS := --no-start -- start 51 2 3 4 . stop 20 0 1 5 6 .

makebuilddir/hildon-desktop::
	./autogen.sh --prefix=/usr --sysconfdir=/etc

binary-install/hildon-desktop::
	dh_installxsession -u 'post 01'

