#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

ifeq (,$(findstring a11y,$(DEB_BUILD_OPTIONS)))
ENABLE_A11Y =
else
ENABLE_A11Y = --enable-a11y
endif

DEB_DH_STRIP_ARGS := --dbg-package=hildon-desktop
DEB_DH_INSTALLINIT_ARGS := --no-start -- start 51 2 3 4 . stop 20 0 1 5 6 .

makebuilddir/hildon-desktop::
	CFLAGS=-DG_DEBUG_DISABLE \
	       ./autogen.sh --prefix=/usr --sysconfdir=/etc $(ENABLE_A11Y)

binary-install/hildon-desktop::
	dh_installxsession -u 'post 05'

