[Launcher Config]
LeftMargin = 68
RightMargin = 68
TileWidth = 142
TileHeight = 100
IconSize = 64
TileIconSize = 68
IconGlow = 80
TileFont = "Arial Bold 8"
MaxDrag = 40
DefaultMargin = 8

